<!-- <header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header> -->
<app-header></app-header>
<main>
  <ul id="users">
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
    </li> -->
    @for (user of users; track user.id){

    <li>
      <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
    </li>
    }

    <!-- <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)"></app-user>
    </li> -->
  </ul>
  <!-- <app-tasks
    *ngIf="userid; else fallback"
    [name]="selectedUser ? selectedUser.name : ''"
  ></app-tasks>
  <ng-template #fallback
    ><p id="fallback">No user is selected Right now</p></ng-template
  > -->

  @if(userid){<app-tasks
    [name]="selectedUser ? selectedUser.name : ''"
  ></app-tasks
  >}@else {
  <p id="fallback">No user is selected Right now</p>
  }
</main>
